data
data_new/
data/
data/naive/*
data/benchmark/*/*/*
!data/naive/annotations
.vscode/
logs/
images/
*.pyc
__pycache__/
checkpoints/
test_logs/
data.zip
checkpoints
transformer.log
wflw_vis_images_nme
cofw_vis_images_nme
300w_vis_images_nme
logs
*_heatmaprcnn_results
*.zip